.Section {
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Section-title {
  color: var(--color-violet);
  font-weight: bold;
  font-size: 2.5rem;
  font-family: var(--font-family-main);
  margin-bottom: 10px;
}

.Section-paragraph {
  font-family: var(--font-family-main);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.3rem;
}